body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.gpu-tables {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
    border: 5px solid black;
    border-style: outset;
}

.nvidia, .amd {
    width: 45%;
}

.nvidia h2, .amd h2 {
    text-align: center;
    border: 2px solid black;
    border-style: outset;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}
