table {
    border: 1px solid black;
    border-style: outset;
}

th, td {
    border: 1px solid black;
    border-style: groove;
    padding: 15px;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 100px; /* Adjust the gap between images */
}

.front {
    height: auto;
    width: 500px;
}

.core {
    height: auto;
    width: 275px;
}