body {
    background-color: #121212;
    color: #ffffff;
    font-family: serif, sans-serif;
}

table {
    border: 1px solid black;
    border-style: outset;
    margin: 10px;
    padding: 5px;
    background-color: #1e1e1e;
    border-radius: 10px;
}

th, td {
    border: 1px solid black;
    border-style: groove;
    padding: 15px;
    text-align: center;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 100px; /* Adjust the gap between images */
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    min-width: 900px; /* Ensure each table has a minimum width */
    max-width: 900px; /* Ensure each table has a maximum width */
}

.front {
    height: auto;
    width: 500px;
}

.core {
    height: auto;
    width: 275px;
}